{% extends 'base.html' %}

{% block title %}
    Hồ sơ
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <nav class="navbar navbar-inverse">

                <form class="form-inline" action="/action_page.php">

                        <input class="form-control mr-sm-2" id="myInput" type="text" placeholder="Quận" style="width: 400px">
                        &ensp;
                        <button class="btn btn-success" type="submit">Tìm kiếm</button>&nbsp;&nbsp;&nbsp;&nbsp;

                    <div style="width: 500px; padding-left: 10px">
                        <a href="{{ url_for('demo') }}">
                             <button style="background-color:white; border: white; font-size: 15px; color: #171a1d; padding-left: 30px">
                                 <i class="fas fa-home"></i>
                             </button> Trang chủ
                         </a>
                        <a href="#">
                            <button style="font-size: 15px; color: #171a1d; background-color: white; border: white; padding-left: 30px">
                                <i class="fas fa-user"></i>
                            </button> Hồ Sơ
                        </a>
                        <a href="{{ url_for('data') }}">
                            <button style="font-size: 15px; color: #171a1d; background-color: white; border: 0px white; padding-left: 30px">
                                <i class="fas fa-pencil-alt"></i>
                            </button> Đăng Tin
                        </a>
                        <a href="{{ url_for('logout') }}">
                            <button style="font-size: 15px; color: #171a1d; background-color: white; border: 0px white; padding-left: 30px">
                                <i class="fas fa-sign-out-alt"></i>
                            </button> Đăng Xuất
                        </a>
                    </div>
                </form>
            </nav>
        </div>

        <div id="demo" class="carousel slide row" data-ride="carousel">
                 <ul class="carousel-indicators" style="width: 94%">
                             <li data-target="#demo" data-slide-to="0" class="active"></li>
                             <li data-target="#demo" data-slide-to="1"></li>
                             <li data-target="#demo" data-slide-to="2"></li>
                 </ul>
                 <div class="carousel-inner" style="width: 1140px">
                             <div class="carousel-item active">
                                   <img src="{{ url_for('static',filename='/assets/images/anh1.png') }}" alt="Ảnh phòng trọ" width="1140" height="500">
                                   <div class="carousel-caption" style="color: #00A7E4">
                                       <b>
                                          <h3>Phòng trọ khép kín</h3>
                                          <p>Cầu Giấy!</p>
                                       </b>
                                   </div>
                             </div>
                             <div class="carousel-item">
                                   <img src="{{ url_for('static',filename='/assets/images/anh2.png') }}" alt="Ảnh phòng trọ" width="1140" height="500">
                                   <div class="carousel-caption" style="color: #00A7E4">
                                       <b>
                                           <h3>Chung cư mini</h3>
                                           <p>Hà Đông!</p>
                                       </b>
                                   </div>
                             </div>
                             <div class="carousel-item">
                                   <img src="{{ url_for('static',filename='/assets/images/anh3.jpg') }}" alt="Ảnh phòng trọ" width="1140" height="500">
                                   <div class="carousel-caption" style="color: #00A7E4">
                                       <b>
                                           <h3>Thiết kế đẹp mắt</h3>
                                           <p>Welcome!</p>
                                       </b>
                                   </div>
                             </div>
                 </div>
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                             <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                             <span class="carousel-control-next-icon"></span>
                </a>
        </div><br><br>


            <div class="container">
                <h2> Hồ sơ</h2>
                     {% with messages = get_flashed_messages(with_categories=true) %}
                     {% if messages %}
                               <ul class=flashes>
                                  {% for category, message in messages %}
                                      <li class="message {{ category }}" style="padding: 0; font-size: 11.5px;">{{ message }}</li>
                                  {% endfor %}
                               </ul>
                                  {% endif %}
                                  {% endwith %}
                <h5>Nếu không phải tài khoản của bạn, hãy thoát ra và <a href="{{ url_for('logout') }}">Đăng nhập</a> lại!</h5><br>
                <div class="row">
                    <div class="col-lg-3"><p>Username: {{ current_user.username }}</p></div>
                     <div class="col-lg-3"><p>Gender: {{ current_user.gender }}</p></div>
                    <div class="col-lg-3"><p>Gmail: {{ current_user.email }}</p></div>
                    <div class="col-lg-3">Phone: {{ current_user.phone }}</div>
                </div><br>
                <p>Bài đăng của bạn:</p>
                    <table class="table table-striped" id="myTable">
                        <thead>
                        <tr>
                            {% for h in heading %}
                                <th>{{ h }}</th>
                            {% endfor %}
                        </tr>
                        </thead>
                        <tbody>
                            {% for n in house %}
                                <tr>
                                    <td>{{ n.name }}</td>
                                    <td>{{ n.area }}</td>
                                    <td>{{ n.number_house }}</td>
                                    <td>{{ n.street }}</td>
                                    <td>{{ n.wards }}</td>
                                    <td>{{ n.price }}</td>
                                    <td>{{ n.district }}</td>
                                    <td><a href="/updates/{{ n.house_id }}"><i class="fas fa-pencil-alt"></i></a></td>
                                    <td><a href="/back/{{ n.house_id }}"> <i class="fas fa-trash-alt"></i></a></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
            </div>
    </div>
<div class="jumbotron text" style="margin-bottom:0">
            <table style="width: 100%;">
                  <thead>
                        <tr>
                            <th>Liên Hệ</th>
                            <th>Liên Kết</th>
                        </tr>
                  </thead>
                      <tbody>
                            <tr>
                                <td>Tìm phòng trọ 24h</td>
                                <td><a href="https://codelearn.io/learning/python-co-ban"><i class="fas fa-book-open"></i> Học lập trình Python</a></td>
                                <td><a href="https://www.w3schools.com/html"><i class="fas fa-book-open"></i> HTML and CSS</a></td>
                            </tr>
                            <tr>
                                <td><a href="#"><i class="fas fa-phone-volume"></i> 0328980215</a></td>
                                <td><a href="https://thaitpham.com/huong-dan-lap-trinh-flask-phan-1-hello-world/"><i class="fas fa-book-open"></i> Hướng dẫn lập trình Flask</a></td>
                                <td><a href="https://www.w3schools.com/js/default.asp"><i class="fas fa-book-open"></i> Học lập trình JavaScript</a></td>

                            </tr>
                            <tr>
                                <td><a href="https://www.facebook.com/hanhsuti.me/"><i class="fab fa-facebook-f"></i> Hạnh Nguyễn</a></td>
                                <td><a href="https://shareeverythings.com/lap-trinh/python/lap-trinh-website-python-voi-django-framework/"><i class="fas fa-book-open"></i> Hướng dẫn lập trình Django</a></td>
                                <td><a href="https://www.w3schools.com/bootstrap4/default.asp"><i class="fas fa-book-open"></i> Bootstrap</a></td>
                            </tr>
                            <tr>
                                <td><a href="#"><i class="fas fa-envelope"></i> nguyenhanh02051999@gmail.com</a></td>
                            </tr>
                      </tbody>
            </table>
</div>

{#<script>#}
{#        $(document).ready(function(){#}
{#            $.getJSON({url: "http://127.0.0.1:5000/api_base/users/get/{{ username }}", success: function(result){#}
{#                console.log(result)#}
{#                    $('#username').val(result.User.username)#}
{#                    $('#id').val(result.User.id)#}
{#                    $('#email').val(result.User.email)#}
{#                }});#}
{#            });#}
{#    </script>#}

{% endblock %}

{% block footer %}

{% endblock %}